* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    background: #0f172a;
}

/* ปุ่ม Download */
.download {
    text-decoration: none; /*ลบเส้นขีดใต้*/
    padding: 20px 50px;
    border-radius: 12px; /*ทำมุมโค้งมนยิ่งเลขมากยิ่งโค้ง*/

    /* ใช้ radial-gradient เพื่อให้สีเริ่มจากด้านใน */
    background: radial-gradient(circle, #39ff14 40%, #000000 100%); /*ไล่สีจากจุดศูนย์กลางออกไป*/
    background-size: 100% 100%; /* เริ่มต้นยังไม่เห็นการแผ่สี */
    background-position: center; /* ให้เริ่มจากตรงกลาง */
    background-repeat: no-repeat;

    color: rgb(0, 0, 0); /*สีตัวอักษร*/
    font-weight: bold; /*ทำตัวหนา*/

    /* เพิ่ม transition ให้ background-size เพื่อให้สีค่อย ๆ แผ่ออก */
    transition: background-size 0.4s ease, transform 0.2s ease; /*เวลาเอาเมาส์ไปชี้จะมีเอฟเฟค*/
}

/* hover ทำงาน ตอนเอาเมาส์ไปชี้*/
.download:hover {
    background-size: 300% 300%; /* ขยายวงสีจากด้านในออกไปถึงขอบ */
    transform: scale(1.05); /*ขยายปุ่มตอนชี้*/
    border-color: rgba(20, 255, 251, 0.9); /*ขอบปุ่มตอนเม้าชี้*/
    box-shadow: 0px 20px 20px rgba(48, 190, 255, 0.6); /*เงาปุ่มตอนเม้าชี้*/ /* 0pxเงาไม่เลื่อนไปทางซ้าย/ขวา 20pxเงาไม่เลื่อนไปทางบน/ล่าง 20pxความฟุ้งของแสง */
}

/* ตอนกดลากลิ้งค้างไว้จะแสดงเป็นปุ่ม */
.download:active {
    transform: scale(0.95); /*ย่อปุ่มตอนกด*/
}
